.App {
  text-align: center;
}

.App-header {
  background-color: #c3c8d1;
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-img {
  background-image: url("../info/images/city.jpg");
  background-size: cover;
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-text-container {
  padding: 20px;
  background-color: rgba(0,0,0,.4);
  border-radius: 30px;
  max-width: 50%;
}

.graph-container {
  min-width: 100vh;
  min-height: 100vh;
}

.black-text {
  color: #282c34;
}


svg.custom .node text {
  font-size: 14px;
  fill: #F4F4F4;
}

svg.custom .node circle {
  fill: #F4F4F4;
}

svg.custom path.link {
  fill: none;
  stroke: #2593B8;
  stroke-width: 1.5px;
}

.page-container {
  margin-top: 64px;
  /* Height of navbar */
}